#main-container {
    position: relative;
    justify-content: center;
    margin: 0 auto;
    top: 50px;
    width: 82%;
    height: 700px;
    display: flex;
    gap: 5%;
}

.container {
    display: flex;
    position: relative;
    background-color: #F5F5F5;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    border-radius: 50px;
    overflow: hidden;
}

#left-basket-container {
    width: 65%;
    min-height: 20%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.4) 0px 30px 30px -18px inset, rgba(0, 0, 0, 0.4) 0px 18px 18px -18px inset;
}

#blue-basket-head {
    width: 100%;
    height: 10%;
    display: flex;
}

#blue-basket-color{
    width: 100%;
    height: 100%;
}

#basket-icon {
    position: absolute;
    width: 50px;
    left:calc(50% - 25px);
    margin-top: 6px;
}

#basket-items {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.basket-item {
    background-color: white;
    width: 85%;
    height: 130px;
    border-radius: 30px;
    margin: 30px 30px 15px 30px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    min-height: 130px;
    border: rgba(37, 47, 61, 0.2) solid 1px;
}

.basket-item-img {
    width: 20%;
    padding: 5px;
    cursor: pointer;
}

.basket-item-img img {

    width: 100%;
    height: 100%;
    object-fit: contain;
}

.basket-item-name {
    box-shadow: rgba(0, 0, 0, 0.22) -4px 0px 15px;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}

.basket-item-name h3 {
    margin: 0px;
    font-size: 20px;
}

.basket-item-name h3:hover {
    text-decoration: underline;
    cursor: pointer;
}


.basket-item-name p {
    margin: 0px;
    font-weight: normal;
    color: #669B30;
}
.basket-item-name input {
    margin: 5px 0px;
}
.basket-item-name div {
    display: flex;
    gap: 10px;
}

.basket-item-price {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-item-price h3 {
    font-weight: bold;
    font-size: 22px;
}

.basket-item-price p {
    font-size: 12px;
    position: relative;
    top: -10px;
}


#right-basket-zone {
    width: 30%;
    gap:10%;
    display: flex;
    flex-direction: column;
}

#price-container {
    background-color: white;
    width: 100%;
    height: 33%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: block;
}

#price-inside-container {
    padding: 10px 40px;
}

#price-container p {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
}

#price-display {
    display: flex;
}

#price-display h2 {
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 30px;
}
#price-display h2 span {
    margin-left: 0px;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    top: -10px;
}

#checkout-button {
    position: absolute;
    left: 1140px;
    top: 120px;
    background-color: #FAC710;
    background-image: linear-gradient(315deg, #f5ab24 0%, #FAC710 74%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px;
    cursor:default;
    color:#252F3D;
    padding: 20px;
    width: 25%;
    border-radius: 40px;
    font-weight: bold;
    font-size: 20px;
    transition: transform 0.3s ease-out;
}

#recom-container {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px;
}

#recom-text {
    background-color: #252F3D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18%;
}

#recom-text h2 {
    color: white;
    margin: 0px;
    padding: 10px;
}

#recom-text h2 span {
    color: #f3a33b;
}

#gift {
    font-weight: light;
    font-size: 15px;
}

.quantity-item select {
    margin-top: 10px;
    padding-left: 10px;
    width: 100px;
    height: 20px;
    border-radius: 25px;
    border: 1px solid rgb(37, 47, 61, 0.1);
    background-color: #f5f5f5;

    color: #2c3e50;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px;
}

.quantity-item select:hover {
    outline:none;
    border: rgb(37, 47, 61, 0.2) solid 1px;
}

.quantity-item select:focus {
    outline:none;
    border: rgb(37, 47, 61, 0.5) solid 1px;
}



#delete-button {
    margin-top: 10px;
    width: 100px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #6ECEE2;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
   }
   
#delete-button, #delete-button span {
    transition: 200ms;
   }
   
   #delete-button .text {
    transform: translateX(10px);
    color: white;
    font-weight: bold;
   }
   
   #delete-button .icon {
    transform: translateX(30px);
    height: 10px;
    width: 10px;
    display: flex;
    align-items: center;
   }
   
   #delete-button svg {
    width: 15px;
    fill: #eee;
   }
   
   #delete-button:hover {
    background: #ff4e4e;
   }
   
   #delete-button:hover .text {
    color: transparent;
   }
   
   #delete-button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(-3px);
   }
   
   #delete-button:focus {
    outline: none;
   }
   
   #delete-button:active .icon svg {
    transform: scale(0.8);
   }


#recom-items {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 25px 0px;
}

.recom-item {
    background-color: white;
    width: 80%;
    height: 80px;
    border-radius: 20px;
    margin: 8px 0px 8px 0px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border: rgba(37, 47, 61, 0.2) solid 1px;
}

.recom-item-img {
    width: 40%;
    padding: 5px;
    cursor: pointer;
}

.recom-item-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.recom-item-name {
    box-shadow: rgba(0, 0, 0, 0.22) -4px 0px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px 20px;
}

.recom-name {
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
}

.recom-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

#recom-price {
    margin: 0px 0px 2px 0px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(204, 15, 15);
}
#recom-price span {
    position: relative;
    left: -4px;
    top: -6px;
    font-size: 8px;
    font-weight: 100;
}

.buy-button {
    background-color: #FAC710;
    background-image: linear-gradient(315deg, #f5ab24 0%, #FAC710 74%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
    cursor: pointer;
    color:#252F3D;
    padding: 5px;
    width: 80px;
    height: 30px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 10px;
}