#main-container {
    position: relative;
    justify-content: center;
    margin: 0 auto;
    top: 50px;
    width: 82%;
    height: 650px;
    display: flex;
    gap: 5%;
}

.container {
    display: flex;
    position: relative;
    background-color: #F5F5F5;
    border: rgba(0, 0, 0, 0.04) solid 1px;
    border-radius: 50px;
    overflow: hidden;
}

#left-basket-container {
    width: 65%;
    min-height: 20%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.2) 0px 30px 30px -12px inset, rgba(0, 0, 0, 0.2) 0px 18px 18px -18px inset;
}

#right-basket-zone {
    width: 30%;
    gap:10%;
    display: flex;
    flex-direction: column;
}

#price-container {
    background-color: white;
    width: 100%;
    height: 33%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#recom-container {
    width: 100%;
    height: 60%;
}

#blue-basket-head {
    width: 100%;
    height: 10%;
    display: flex;
}

#blue-basket-color{
    width: 100%;
    height: 100%;
}

#basket-icon {
    position: absolute;
    width: 50px;
    left:calc(50% - 25px);
    margin-top: 6px;
}
