.contact-container {
    padding: 40px;
    background-color: #ffffff;
    color: #37475a;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 35px 0px;
    position: relative;
    z-index: 2;
}

.contact-container h1, .contact-container h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #1ca4e3;
    text-align: center;
}

.contact-container p {
    margin-bottom: 20px;
    text-align: justify;
    font-size: 1.2em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    color: #525252;
    font-size: 1.2em;
}

.form-group input, .form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.form-group input:focus, .form-group textarea:focus {
    border-color: rgb(68, 83, 84, 0.5);
    outline: none;
    box-shadow: 0 0 10px rgba(53, 79, 82, 0.1);
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #1ca4e3;
    background-color: linear-gradient(315deg, #f5ab24 0%, #FAC710 74%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #1b85b6;
}

.contact-details {
    margin-top: 20px;
    text-align: center;
    color: #525252;
}