#table-container {
    position: relative;
    justify-content: center;
    margin: 0 auto;
    background-color: #F5F5F5;
    top: 50px;
    width: 82%;
    border-radius: 50px;
    border: rgba(0, 0, 0, 0.04) solid 1px;
    margin-bottom: 5%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 6px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 40px;
}

td {
    position: relative;
    background-color: white;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    text-align: center;

    min-width: 110px;
    width: 110px;
    max-width: 110px;

    min-height: 320px;
    height: 320px;
    max-height: 320px;

    box-sizing: border-box;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px;
}

.item-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.img-container {
    width: 100%;
    height: 60%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-right: 10%;
    object-fit: contain;
}

.text-container {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
}



.name-rate-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
    box-shadow: 0 1px 0.7em rgba(0, 0, 0, 0.25);
}

.name-container {
    font-weight: bold;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 8%;
    font-size: large;
    padding-top:4%;
}

.item-name {
    cursor: pointer;
}

.item-name:hover {
    text-decoration: underline;
}


.rating{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 7%;
    width: 100%;
    height: 50%;
    padding-bottom: 10px;
    gap: 3px;
}

.reviews{
    font-size:small;
    color: #59728e;
    padding-bottom: 3px;
}

.stars-container {
    display: flex;
    gap: 2px;
}

.star {
    width: 15px;
    height: 15px;   
    display: inline-block;
    background-size: cover;
}

.star.full {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij4KICA8cGF0aCBmaWxsPSIjRkZBNTAwIiBzdHJva2U9IiNGRjhDMDAiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTEyIDE3LjI3TDE4LjE4IDIxIDE1LjkgMTMuODFMMjEgOS4yNCAxMy44MSA4LjYzIDEyIDIgMTAuMTkgOC42MyAzIDkuMjQgOC4wOSAxMy44MSA1LjgyIDIxWiIvPgo8L3N2Zz4=');
}

.star.half {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij4KICA8ZGVmcz4KICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iaGFsZkdyYWQiPgogICAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI0ZGQTUwMCIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0id2hpdGUiLz4KICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgPC9kZWZzPgogIDxwYXRoIGZpbGw9InVybCgjaGFsZkdyYWQpIiBzdHJva2U9IiNGRjhDMDAiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTEyIDE3LjI3TDE4LjE4IDIxIDE1LjkgMTMuODFMMjEgOS4yNCAxMy44MSA4LjYzIDEyIDIgMTAuMTkgOC42MyAzIDkuMjQgOC4wOSAxMy44MSA1LjgyIDIxWiIvPgo8L3N2Zz4=');
}

.star.empty {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij4KICA8cGF0aCBmaWxsPSJ3aGl0ZSIgc3Ryb2tlPSIjRkY4QzAwIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0xMiAxNy4yN0wxOC4xOCAyMSAxNS45IDEzLjgxTDIxIDkuMjQgMTMuODEgOC42MyAxMiAyIDEwLjE5IDguNjMgMyA5LjI0IDguMDkgMTMuODEgNS44MiAyMVoiLz48L3N2Zz4=');
}

.buy-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 50%;
    background-color: white;
}

.grey-price-container {
    position: relative;
    width: 80%;
    height: 60%;
    background-color: #F5F5F5;
    border-radius: 10px;
    bottom: 10px;
    border: rgba(0, 0, 0, 0.05) solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.price {
    display: flex;
    align-items: flex-end;
}

.price-whole {
    font-size: 21px;
    font-weight: bold;
}

.price-decimal {
    font-size: 12px;
    vertical-align: top;
    margin-bottom: 10px;
}

.buy-button {
    width: 90px;
    height: 25px;
}

#add-to-cart-img {
    position: relative;
    width: 110%;
    border-radius: 25px;

}

p {
    margin: 0;
}

.pagination_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

#pagination {
    text-align: center;
    padding: 15px;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    max-width: 100%;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    margin: 0 auto;
    border-radius: 15px;
}

#pagination button, #pagination .page-number {
    padding: 5px 10px;
    background-color: white;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium ;
}

#pagination .page-number.active {
    font-weight: bold;
    border-color: black;
}

#pagination button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

#prev-page:hover, #next-page:hover, .page-number:hover {
    text-decoration: underline;
}